<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style-contact.css">
	<title>Contact</title>
</head>
<body>
<header class="wrapper">
<div class="text">
	<h1>Contact us</h1>
	<h2>Feel free to contact us</h2>
</div>
</header>


<form class="container" action="index.html" method="GET">

	<label for="name">Name</label>
	<input type="text" name="name" placeholder="Your name...">

	<label for="email">E-mail</label>
	<input type="E-mail" name="E-mail" placeholder="Your e-mail...">

	<label for="subject">Subject</label>
	<input type="text" name="text" placeholder="whatever...">
<div class="message">
	<label for="message">Message</label>
	<input type="text" name="" placeholder="Write something...">
</div>
	<input type="submit" name="submit">

</form>






</body>
</html>