<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Cosmology News</title>
</head>

<body>

<header class="logo-name">
		<div id="logo">
		<h1>Cosmology News</h1>
		<!-- FIX YOUR DAILY ZODIAC -->
		</div>
</header>



<nav class="navigation-wrapper">
		
		
	<div class="button1-nav"><a href="aboutus.html">ABOUT US</a></div>
	<div class="button2-nav"><a href="home.html">HOME</a></div>
	<div class="button3-nav"><a href="contact.html">CONTACT</a></div>
	<div class="button4-nav"><a href="services.html">SERVICES</a></div>
	<!-- <div class="name"><h1>Palatine Gallery</h1></div> -->
</nav>

<div id="fade_out">
	<img class="bottom" src="star3.png">
	<img class="top" src="star4.jpg">
</div>


<section class="istoric">
	<h2>What we offer</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
</section>

<article class="articles-wrapper">
	
	<div class="news-1">
		<h2>Supermassive black hole pair nearest Earth is locked in a violent cosmic dance</h2>
		<hr>
		<img class="article-images" src="black-hole.jpg">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
		<h6><a href="read.html">Read more >></a></h6>
	</div>

	<div class="news-2">
		<h2>How dancing black holes get close enough to merge
</h2>
		<hr>
		<img class="article-images" src="black-hole2.jpg">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
		<h6><a href="read.html">Read more >></a></h6>
	</div>

	<div class="news-3">
		<h2>Black holes may die differently than we thought
</h2>
		<hr>
		<img class="article-images" src="black-hole3.jpg">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
		<h6><a href="read.html">Read more >></a></h6>
	</div>
	
</article>



<article class="articles-wrapper-bottom">
	<img src="black-hole2.jpg">
	<div id="content-wrapper">
		<h2>How black holes and galaxies play tug-of-war across the cosmos
</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		<h6><a href="a.html">Continue Reading>></a></h6>

	</div>
</article>

<aside class="categories-wrapper">
	
	<h2>Latest Headlines</h2>

	<ul id="categories-style">
	<li><a href="https://www.sciencedaily.com/releases/2022/09/220913110429.htm">First stars and black holes</a></li>
	<li><a href="https://www.sciencedaily.com/releases/2022/08/220804145642.htm">Wide view of the early universe</a></li>
	<li><a href="https://www.sciencedaily.com/releases/2022/08/220818163715.htm">Seeing universe's most massive known star
</a></li>
	</ul>

</aside>


</body>
</html>